<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSICO - Controle para consultórios de Psicologia</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/dark.css">

    <link rel="stylesheet" href="/assets/css/pages/auth.css">
</head>

<body>
    <h1>Pegou outro layout </h1>
    <div id="auth">
      <%= yield %>
    </div>
   </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/dark.js"></script>
</body>

</html>
